:root {
    --primary: #0066ff;
    --bg: #f7f7f7;

  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #222222;
    height: 100vh;
  }
  
  /* NavBar */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    border-bottom: 5px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  
  .navbar .navbar-logo span {
    color: var(--bg);
  }
  
  .navbar .navbar-nav a {
    color: #d7d7d7;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--primary);
    transition: 0.3s ease-in-out;
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

  .wrapper {
    padding: 200px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* CARD */
  
  .card {
    width: 40%;
    border: 1px solid white;
    background-color: #eeeeee;
    color: var(--primary);
    padding: 32px;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .title {
    font-size: 2em;
  }
  
  .icons {
    margin-top: 8px;
    font-size: 50px;
    color: var(--primary);
  }
  
  .description {
    margin-top: 8px;
    font-size: 1em;
  }

  .btn {
    margin-top: 16px;
    font-size: 20px;
    padding: 6px 12px;
    background:var(--bg);
    border-radius: 8px;
    color: var(--primary);
    cursor: pointer;
  }
  
  .btn:hover {
    background: var(--primary);
    border-radius: 8px;
    color: var(--bg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    transition: all 0.5s ease-in-out;
  }

  /* DARK MODE */
  
  .dark-mode {
    background: #222222;
    color: var(--bg);
  }
   
   
  .mode-switcher {
    position: fixed;
    right: 20px;
    font-size: 1.3rem;
  }

  #light-icon {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    #dark-icon {
      display: none;
    }

    #light-icon {
      display: block;
    }
  }

  .navbar i {
    cursor: pointer;
  }